<!DOCTYPE html>
<html>
<head>
    <title>Блоки</title>
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
    <h1>Управление блоками</h1>
    <form method="post">
        <input type="text" name="name" placeholder="Название блока">
        <input type="checkbox" name="is_paid"> Платный
        <input type="number" name="price" placeholder="Цена">
        <button type="submit">Добавить</button>
    </form>
    <ul>
        {% for block in blocks %}
        <li>{{ block.name }} (Платный: {{ block.is_paid }}, Цена: {{ block.price }}) <a href="/admin/questions/{{ block.id }}">Вопросы</a></li>
        {% endfor %}
    </ul>
</body>
</html>
